div[data-spritzy] {
	padding: 20px;
}

.reader {
	border-top: 2px solid black;
	width: 400px;
}

.pre, .orp, .post {
	float: left;
	font-family: courier, monospace, serif;
	line-height: 2em;
}

.pre {
	text-align: right;
	width: 30%;
	color: black;
}

.orp {
	color: red;
	width: auto;
}

.orp:after {
	position: absolute;
	background: black;
	width: 2px;
	height: 4px;
	content:"";
	margin-top: 1.75em;
	margin-left: -6px;
}
.orp:before {
	position: absolute;
	background: black;
	width: 2px;
	height: 4px;
	content:"";
	margin-left: 4px;
}


.post {
	width: 60%;
}

.count {
	border-top: 2px solid black;
	clear: both;
	font-family: courier, monospace, serif;
	font-size: .5em;
	text-align: center;
	color: #cccccc;
	padding-top: .5em;
}